---
import '../css/global.css';
import '../css/tailwind.css';
import '../css/style.css';
import CardTemplate from '../components/cardTemplate.astro'
---

<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opyleo</title>
</head>
<body>
    <header class="h-1/6 bg-highlight-1 flex justify-center items-center text-white font-black text-3xl p-6">
        <h1>Opyleo</h1>
    </header>
    <section class="h-screen flex justify-center items-center font-bold">
        <CardTemplate title="Matematyka" seller="Pan Kowalski" price="30zł" state="Dobry"/>
    </section>
    <section class="h-screen flex justify-center items-center font-bold">
        <h1>Sekcja Lokalnie Sprzedanych</h1>
    </section>
    <section class="h-screen flex justify-center items-center font-bold">
        <h1>Sekcja Wybór Książek</h1>
    </section>
    <section class="h-screen flex justify-center items-center font-bold">
        <h1>Sekcja AI</h1>
    </section>
    <section class="h-screen flex justify-center items-center font-bold">
        <h1>Sekcja CTA</h1>
    </section>
    <footer class="flex justify-evenly">
        <a>Polityka prywatności</a>
        <p>Opyleo</p>
        <a>Regulamin</a>
    </footer>
    <script src="../js/script.js"></script>
</body>
</html>
